---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-blue-600">
     <h1>Home page</h1>
</main>